body{
    width: 100%;
    height: 100%;
    background-color: #68cdd5;
    margin: 0 auto;
}
.botton{
    width: 54px;
    height: 54px;
    margin-left: 20px;
    margin-top: 20px;
    background-size: 100% 100%;
    background: url(./images/task3_03.png);
}
.botto a{
    width: 54px;
    height: 54px;
}
.logo{
    width: 181px;
    height: 70px;
    margin: 116px  auto;
    background: url(./images/task3_07.png);
    block-size: 100% 100%;
}
.content{
    width: 70%;
    height: 30px;
    margin: auto;
    color: white;
    font-weight: normal;
}
.bottom{
    width: 100%;
    height: 130px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.bottom .logo1{
    width: 120px;
    height: 127px;
    float: left;
    margin-left: 10%;
    background: url(./images/task3_11.png);
    background-repeat: no-repeat;
}
.bottom .logo1 a{
    width: 120px;
    height: 127px; 
}
.bottom .logo2{
    width: 102px;
    height: 130px;
    float: right;
    margin-right: 10%;
    background: url(./images/task3_14.png);
    background-repeat: no-repeat;
}
.bottom .logo2 a{
    width: 102px;
    height: 130px;
}